/* CSS */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1A1E24; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E13A74; 
}

h1, h2, h3, h4, h5, p, span, a, li, input, label {
	font-family: 'Open Sans', sans-serif!important;
}
.icon-icon-agenda:before {
  content: "\e900";
}
.body-book {
	background-color: #30343A;
}

/* header */
.header-style {
	background-color: #1A1E24;
}

.header-style h1 {
	text-transform: uppercase;
	font-weight: 700;
	color: #FFF;
	word-spacing: 3px;
}

.material-icons {
	vertical-align: sub;
}

/* main */

/* main : contact list*/
.contacts-list {
	background-color: #3C4046;
	margin: 2rem auto;
	color: #888;
	max-width: 30vw;
	min-height: 65vh;
	position: relative;
}

.contacts-list .search {
	position: relative;
	top: 2rem;
}

.contacts-list .search .mdl-textfield {
	display: block;
	background-color: #1A1E24;
	border-radius: 10px;
	padding: 10px;
	margin: 18px;
}

.contacts-list .search .mdl-textfield--expandable .mdl-button--icon {
	top: 0.7rem;
}

.contacts-list .mdl-textfield__expandable-holder{
	width: calc(100% - 30px);
	max-width: calc(100% - 30px);
}

.mdl-textfield__input {
    border-bottom: 1px solid rgba(26, 30, 36, 1);
}

.mdl-textfield__label {
    color: rgba(26, 30, 36, 1);
}

.contacts-list .people {
	position: relative;
    margin-top: 35px;
    max-width: 30vw;
    max-height: 51vh;
    min-height: 45vh;
    overflow-y: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 35px;
}

.contacts-list .people p {
	text-align: center;
}

.contacts-list button {
	position: absolute;
	right: 2rem;
	bottom: 1rem;
}


.contacts-list .people nav.items-people {
	display: grid;
} 

.contacts-list .people nav.items-people a.nav-link {
	padding: 16px 40px;
    text-decoration: none;
    margin: 0;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0;
    color: #888;
    max-height: 100%;
}

.contacts-list .people nav.items-people a.nav-link:hover, 
.contacts-list .people nav.items-people a.nav-link:active {
	background-color: #49505a;
	color: #B4B4B4;
}

.contacts-list .people .iniciais-list {
    border-radius: 32px;
    background-color: #1A1E24;
    color: #E13A74;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    width: 60px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    padding-top: 11px;
}

.contacts-list .people nav.items-people a.nav-link:hover .iniciais-list,
.contacts-list .people nav.items-people a.nav-link:active .iniciais-list {
	background-color: #E13A74;
	color: #1A1E24;
	font-weight: 400;
}

/* main : contact information*/
.contact-information {
	margin: 4rem auto;
	color: #888;
	max-width: 45vw;
    position: relative;
}

.input-field .mdl-textfield__label {
	color: #888;
	width: 100%;
}

.input-field .mdl-textfield__input {
	border-bottom: 1px solid #888;
	width: 100%;
}

.input-field.is-focused .mdl-textfield__input {
	border-bottom: 1px solid #448aff;
}

.input-field .prefix, .input-field .plus {
	position: absolute;
	width: 3rem;
	font-size: 2rem;
	transition: color .2s;
}

.input-field .plus{
	right: 0;
}
.mdl-button--accent.mdl-button--accent.mdl-button--fab, 
.mdl-button--fab.mdl-button--colored, 
.mdl-button--fab.mdl-button--colored:hover {
    color: rgb(255,255,255);
    background-color: rgb(68,138,255);
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .prefix {
	color: rgb(68,138,255);
	/*top: 4px;*/
	visibility: visible
}

.mdl-textfield__label:after {
	background-color: rgb(68,138,255);
}

.input-field .prefix ~ input, 
.input-field .prefix ~ textarea, 
.input-field .prefix ~ label {
	margin-left: 3rem;
	width: 92%;
	width: calc(100% - 3rem);
}

.input-field .phone ~ input, 
.input-field .phone ~ label {
	margin-right: 3rem;
	width: calc(100% - 6rem);
}

.contact-information .contact-name .mdl-textfield {
	margin-left: 1.3rem;
	width: 15vw;
}
.contact-name-sm{
	display: none;
}

.contact-information .contact-data .mdl-textfield {
	min-width: 100%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.contact-information .contact-name {
	height: 14vh;
}

.contact-information .contact-name .prefix.big {
	font-size: 7rem;
	width: 7rem;
	vertical-align: middle;
}

.contact-information .big-big {
	font-size: 23rem;
	color: #1A1E24;
	text-align: center;
    display: block;
}
.mdl-button--raised.mdl-button--colored{
	background-color: #7ACA70;
	color:#fff;
}

.mdl-button--raised.mdl-button--colored:hover,
.mdl-button--raised.mdl-button--colored:active {
    background-color: rgb(76,175,80);
}

button.save {
	right: 0px;
	position: absolute;
}

button.delete {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
}

button.delete .delete-icon {
    font-size: 18px;
}

@media screen and (max-width: 947px) { 

	.mdl-cell {
		width: calc(50% - 16px);
	}	

	.contact-name-sm {
		display: block;
	}

	.contact-name {
		display: none;
	}

	.contacts-list {
		max-width: 90%;
		min-height: 100%;
		max-height: 60vh;
	}

	.contacts-list .people {
		max-width: 100vw;
		min-height: 60vh;
		padding-bottom: 0;
	}

	.contact-information {
		margin: 2rem auto;
		max-width: 90%;
	}

}

@media screen and (max-width: 640px) { 

	.contacts-list {
		margin: 0rem auto;
		max-width: 85vw;
		min-height: 80vh;
	}

	.contacts-list .search .mdl-textfield--expandable .mdl-button--icon {
		top: 8px;
	}

	.contacts-list .people {
		margin-top: 2.6rem;
		max-width: 85vw;
		min-height: 65vh;
		padding-bottom: 0;
	}

	.contact-information {
		margin: 5rem auto;
		max-width: 89vw;
	}

	.contact-information .contact-data .mdl-textfield {
		margin-top: 0; 
		margin-bottom: 0; 
	}

	.contacts-list .people button {
		bottom: 2rem;
	}

	.contact-name {
		display: none;
	}

	.contact-name-sm {
		display: block;
	}

	.contact-information .big-big {
		display: none;
	}

}